.SuperWinner {
   color: red;
   animation-name: Superwinner;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}
    
@keyframes Superwinner {
   0% {color: red;}
   50% {color: #ffba00;}    
}

.Winner{
    color: #ffba00;
}

.galeria-link{
    color: blue;
    text-decoration: underline;
}