/* header {
    background-color: rgb(70, 113, 255);
    color: #fff;
    position: fixed;
    top: 0;
    padding: 15px;
    width: calc(100% - 20px); 
    transition: background-color 0.5s ease;
    text-align: center;
} */
header {
    background-color: rgb(70, 113, 255);
    color: #fff;
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 15px;
    width: 100%;
    transition: background-color 0.5s ease;
    text-align: center;
}

section{
    margin-top: 100px; 
}
